In [1]:
def vol(num):
    return (3/4)*(3.14)*num**2

In [4]:
vol(2)

9.42

In [6]:
r=2

In [7]:
vol(r)

9.42

In [10]:
def rang_check(num,low,high):
    if num<low:
        return 'not in range: too small'
    elif num>high:
        return 'not in range: too big'
    else:
        return 'within range :D'

In [14]:
rang_check(5,3,4)

'not in range: too big'

In [62]:
def rang_check(num,low,high):
    if num in range(low,high+1):
        print('{} is in range between {} and {}'.format(num,low,high))
    else:
        print('not in range')

In [63]:
rang_check(4,3,4)

4 is in range between 3 and 4

In [64]:
def rang_check(num,low,high):
    return num in range(low,high+1)

In [24]:
rang_check(4,3,4)

True

In [48]:

s='Hello Mr. Rogers, how are you this fine Tuesday?'

In [52]:

def calc_letters(string):
    x=0
    y=0
    for word in string:
        if word.isupper():
            x+=1
       
        elif word.islower():
            y+=1
        else:
            pass
        
    print('upper=', x,'next word')
    print('lower=', y,'next word')
       
calc_letters(s)

upper= 4 next word
lower= 33 next word

In [76]:
sam=[1,1,1,1,2,2,3,3,3,3,4,5]

In [96]:
def new_list(sam):
    x=[1]
    for y in sam:
        if y not in x:
            x.append(y)
    return x

new_list(sam)

[1, 2, 3, 4, 5]

In [87]:
lst= [1, 2, 3, -4]
#Expected Output : -24

In [98]:
def multiply(lst):
    tot=1
    
    for x in lst:
        tot*=x
        
    return tot
multiply(lst)

-24

palindrome test

In [170]:
def palindrome(s):
 
    a = s.replace(' ','')
    
    if a == a[::-1]:
        print('true:'+ s)
                
    else:       
        print('not true:'+s[::-1] )

In [175]:
palindrome('nurses run')

true:nurses run

In [41]:
import string
def ispangram(strl, alphabet=string.ascii_lowercase):
    alphaset=set(alphabet)
    print(set(strl.lower()))
    return set(strl.lower()) <= alphaset

In [42]:
ispangram("The quickk brown fox jumps over the lazy dog")

{'u', 'c', 'j', 't', 'd', 's', 'i', 'y', 'n', 'x', 'k', 'p', 'r', 'g', 'b', 'w', ' ', 'h', 'o', 'q', 'f', 'a', 'm', 'z', 'e', 'v', 'l'}

False

In [43]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [15]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0 and a > b:
        print(b)
    elif a%2==0 and b%2==0 and a < b:
        print(a)
    elif a<b:
        print(b)
    else:
        print(a)

In [16]:

# Check
lesser_of_two_evens(2,4)

# Check
lesser_of_two_evens(8,5)

2
8